

.search-bar {
  align-items: center;
  background-color: #FFFFFF;
  border: solid 1px #4E6E5D;
  border-radius: 25px;
  display: flex;
  height: 35px;
  margin-bottom: 5px;
  width: 100%;
}

.search-bar-input, .search-bar-input:active, .search-bar-input:focus {
  border: none;
  outline: none;
  width:85%;
}

.search-bar-icon {
  color: #4E6E5D;
  margin: 0 10px 0 10px;
}