

.sidebar {
  position: fixed;
  right: 0;                /* center horizontally */
  transform: translate(-50%, 100%); /* start off-screen below */
  bottom: 0;                /* anchor to bottom */
  width: 25vw;
  height: 99vh;             /* adjust as needed */
  background-color: #F4F4F4;
  border: 1px solid #005566;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  opacity: 0;
  transition: transform .5s ease-out, opacity 0.5s ease-out;
  visibility: hidden;
  pointer-events: none;
  padding: 20px;
}


.sidebar.open {
  transform: translate(-50%, 0); /* slide straight up */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  background-color: #F4F4F4;

}

.content.open {
  left: 15vw;
}