

.tab-icon {
  color: #4E6E5D;
  margin: 0 0 0 20px;
}

.react-tabs__tab {
  background-color: #00556620;
  border-radius: 8px 8px 0 0;
  color:#4E6E5D;
}



.react-tabs__tab--selected {
  background-color: #FFFFFF;
  color:#005566;
  font-weight: 600;
} 