

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Jost");
@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
    font-family: 'Jost', sans-serif;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
}